# Racial Segregation In US Cities
**Hussain Ujjainwala | Div B**

In [3]:
# Project Setup
import pandas as pd

In [5]:
 # Getting the file 
chicago_df = pd.read_csv("data/prepped/chicago_race.csv")
# Printing the first 5 rows
chicago_df.head(50)

,GEOID,GEO.display.label,pop,pop.white,pop.not.white,pct.white,pct.not.white
0,17031010201,17031010201,6450,2312,4138,0.358450,0.641550
1,17031010202,17031010202,2818,1237,1581,0.438964,0.561036
2,17031010300,17031010300,6236,3267,2969,0.523894,0.476106
3,17031010400,17031010400,5042,3341,1701,0.662634,0.337366
4,17031010503,17031010503,2290,1452,838,0.634061,0.365939
...,...,...,...,...,...,...,...
95,17031090300,17031090300,1372,1290,82,0.940233,0.059767
96,17031100100,17031100100,5313,4649,664,0.875024,0.124976
97,17031100200,17031100200,6749,6216,533,0.921025,0.078975
98,17031100400,17031100400,3066,2792,274,0.910633,0.089367
99,17031100500,17031100500,5779,5083,696,0.879564,0.120436

# Diversity Ratio

In [13]:
total_white_people = chicago_df["pop.white"].sum()
print ("There are", total_white_people, "white people")

total_non_white_people = chicago_df["pop.not.white"].sum()
print ("There are", total_non_white_people, "non white people")

diversity_ratio = total_white_people/total_non_white_people
print ("The Diversity Ratio is",diversity_ratio )

There are 2513996 white people
There are 2134618 non white people
The Diversity Ratio is 1.1777264128757463

# Measuring Chicago's Interaction Index

In [11]:
total_minority_pop = chicago_df["pop.not.white"].sum()

chicago_df["interaction_index"] = (chicago_df["pop.not.white"]/total_minority_pop) * (chicago_df["pop.white"]/chicago_df["pop"])

chicago_df.head()

,GEOID,GEO.display.label,pop,pop.white,pop.not.white,pct.white,pct.not.white,interaction_index
0,17031010201,17031010201,6450,2312,4138,0.358450,0.641550,0.000695
1,17031010202,17031010202,2818,1237,1581,0.438964,0.561036,0.000325
2,17031010300,17031010300,6236,3267,2969,0.523894,0.476106,0.000729
3,17031010400,17031010400,5042,3341,1701,0.662634,0.337366,0.000528
4,17031010503,17031010503,2290,1452,838,0.634061,0.365939,0.000249

In [12]:
interaction_index_of_chicago = chicago_df["interaction_index"].sum()
interaction_index_of_chicago

0.33621530101878605

# Calculate the Interaction Index for All US Cities

In [14]:
import os

In [15]:
city_file_name_list = os.listdir("data/prepped/")
city_file_name_list

['baltimore_race.csv',
 'charleston_race.csv',
 'chicago_race.csv',
 'columbus_race.csv',
 'dayton_race.csv',
 'denver_race.csv',
 'kc_race.csv',
 'memphis_race.csv',
 'milwaukee_race.csv',
 'ok_city_race.csv',
 'pittsburgh_race.csv',
 'st_louis_race.csv',
 'syracuse_race.csv',
 'wichita_race.csv']

In [28]:
def print_interaction_indexes():
    
    city_file_name_list = os.listdir("data/prepped/")
    
    for city_file_name in city_file_name_list:
        
        city_df = pd.read_csv("data/prepped/"+city_file_name)
        
        total_minority_pop = city_df["pop.not.white"].sum()
        
        city_df["interaction_index"] = (city_df["pop.not.white"]/total_minority_pop) * (city_df["pop.white"]/city_df["pop"])
        
        interaction_index_of_chicago = city_df["interaction_index"].sum()
        
        print(city_file_name.capitalize().replace("_race.csv", ""), " : ", interaction_index_of_chicago)

In [29]:
print_interaction_indexes()

Baltimore  :  0.21709369506053244
Charleston  :  0.5181057467459754
Chicago  :  0.33621530101878605
Columbus  :  0.5370267887655849
Dayton  :  0.5072699799837672
Denver  :  0.6852801607490661
Kc  :  0.5806694539317967
Memphis  :  0.4811953882784695
Milwaukee  :  0.40424141689420257
Ok_city  :  0.6134720843684374
Pittsburgh  :  0.602965687041454
St_louis  :  0.4204527865157873
Syracuse  :  0.606170839777443
Wichita  :  0.639562420122306